.header__links {
  list-style: none;
  text-align: center;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header__navlink {
  list-style: none;
  text-align: center;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
}
